
.hero {
    position: relative; 
    height: 460px;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.341) 0%,
    rgba(0, 0, 0, 0.142) 100%
    );
    z-index: 555;
}

.hero__img{
    width: 100%;
    max-height: stretch;
    object-fit: contain;
}

.bcg_hero {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0 3rem;
    text-align: center;
    color: #fff;
    z-index: 999;
}

.hero__cta .btn--primary {
    background-color: var(--color-primary);
}

.cta.hero__cta .btn--secondary {
    border: 1px solid rgba(255,255,255,0.6);
    color: rgba(255, 255, 255, 0.959);
}

.hero__cta a:hover {
    background-color: var(--color-primary-hover);
}

.hero__cta .btn {    
    color: #fff;
}

.hero__cta .btn:hover {
    background: var(--color-primary-hover);
}