.presentation {
	background: url(/images/bcg.jpg);
	padding: 2rem 1rem;
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation h2 {
    color: #fff;
}



.prose p {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #fff;
}

.prose p:first-child::first-letter {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: bold;
}

