---
import "../../styles/sections/highlight.css";

import { Flame } from '@lucide/astro';

const {dishOfTheMoment} = Astro.props;
---

<!-- 🔥 PLAT DU MOMENT -->
    {dishOfTheMoment && (
    <section class="highlight">
        <h2 class="highlight__title">
            <span class="highlight__title-inner">
                <Flame size={24} />
                <span>Notre pizza du moment</span>
                <Flame size={24} />
            </span>
        </h2>

        <article class="card highlight__card">
            
            <img class="highlight__img" src={dishOfTheMoment.image} alt={dishOfTheMoment.alt || dishOfTheMoment.name} fetchpriority="high"loading="eager" width="400" height="300"/>

            <div class="highlight__content">
                <h3 class="items-list__title"><span>{dishOfTheMoment.name}</span> <span class="items-list__price">{dishOfTheMoment.price?.toFixed(2)}€</span></h3>

                <p class="highlight__ingredients">
                    Base {dishOfTheMoment.base.replaceAll("-", " ")} · {dishOfTheMoment.ingredients.flat().map((i: string) => i.trim()).join(" · ")}
                </p>
                
                
                <div class="cta highlight__cta">
                    <a href="/menu" class="btn btn--secondary">
                        <span>Voir la carte</span>
                    </a>
                </div>
            </div>
        </article>
    </section>
    )} 

