---
const { formattedDays } = Astro.props;
---

<section id="hours">
    <h2>Horaires</h2>
    <table>
        <tbody>
            {formattedDays.map((d: { day: unknown; value: unknown; }) => (
                <tr>
                <td><strong>{d.day}</strong></td>
                <td>{d.value}</td>
                </tr>
            ))}
        </tbody>
    </table>
</section>
