

<section id="map">

    <h2>Où nous trouver ?</h2>
    <div>
        <img src="/images/loc.png" alt="Localisation du restaurant" />
    </div>

    <a href="https://maps.google.com/?q=La+Pizzetteria" target="_blank" class="footer-map">
        Voir l'itinéraire
    </a>

</section>

<style>
    #map {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #map iframe {
        border: none;
        border-radius: 12px;
        width: 100%;
        max-width: 600px;
        height: 300px;
    }
</style>