---
import { MoveRight } from "@lucide/astro";
---

<section class="map">

    <h2>Où nous trouver ?</h2>
    <div>
        <img src="/images/loc.png" alt="Localisation du restaurant" />
    </div>
    
    <a href="https://maps.google.com/?q=La+Pizzetteria" target="_blank" class="footer-map">
        Voir l'itinéraire <MoveRight size={20} />
    </a>

</section>

