---
import "../../styles/sections/selection.css";

const { suggestions } = Astro.props;

---
 
 <!-- SELECTION  -->
     <section class="selection">
        <h2>Nos favoris</h2>
        <p>Les incontournables de La Pizzetteria</p>

        <div class="selection-list">
            {
                suggestions.map((item: { image: string | null | undefined; name: string; price: string | number }) => (
                    <article class="card selection__card">
                        <img src={item.image} alt={item.name} />
                        <h3>{item.name}</h3>
                    </article>
                ))
            }
          
        </div>
    
        <div class="cta selection__cta">
            <a href="/menu" class="btn btn--secondary">
                <span>Voir plus</span>
            </a>
        </div>
     </section>
