---
import { MoveRight, Phone } from "@lucide/astro";
import FBLogo from "../../public/images/facebook_logo.png";
import InstagramLogo from "../../public/images/instagram_logo.svg";

import Map from "./sections/Map.astro";

const { formattedDays } = Astro.props;
---

<footer class="footer">

    <div id="footer-main" class="footer-main">

        <!-- IDENTITÉ -->
        <div class="footer-block">
            <h3>La Pizzetteria</h3>
            <p>3 Avenue de la Vendée, 44140 Aigrefeuille-sur-Maine</p>

            <a href="tel:0228028829" class="footer-phone">
            <Phone size={18} />
            <span>02 28 02 88 29</span>
            </a>
            <a href="https://maps.google.com/?q=La+Pizzetteria" target="_blank" class="footer-map">
                Voir l'itinéraire <MoveRight size={20} />
            </a>
            <!-- <Map /> -->
        </div>

        <!-- HORAIRES -->
        <div class="footer-block">
            <h3>Horaires</h3>
            <table class="footer__hours">
                <tbody>
                    {formattedDays.map((d: { day: string | any[]; value: unknown; }) => (
                        <tr>
                            <th>{d.day}</th>
                            <td>{d.value}</td>
                        </tr>
                    ))}

                </tbody>
            </table>
        </div>

        <!-- NAV -->
        <div class="footer-block">
            <h3>Navigation</h3>
            <a href="home">Accueil du site</a>
            <a href="menu">Notre carte</a>
        </div>

        <!-- SOCIAL -->
        <div class="footer__social">
            <a
                href="https://www.instagram.com/lapizzetteria44/"
                target="_blank"
                rel="noopener noreferrer"
                title="Aller sur notre page instagram"
                class="social-link"
                >
                <img src={InstagramLogo.src} alt="Logo de Instagram" class="social__icon"/>
            </a>
            <a
                href="https://www.facebook.com/lapizzetteria44/"
                target="_blank"
                rel="noopener noreferrer"
                title="Aller sur notre page facebook"
                class="social-link"
                >
                <img src={FBLogo.src} alt="Logo de Facebook" class="social__icon"/>
            </a>
        </div>

        <!-- BOTTOM -->
        <div class="footer-bottom">
            <p>© 2026 La Pizzetteria</p>
            <div class="footer-legal">
                <a href="legal">Mentions légales</a>
                <a href="policy">Confidentialité</a>
            </div>
            <p class="credit">Site réalisé par <a href="https://romainfournier.com/contact/" target="_blank" rel="noopener noreferrer" aria-label="Visiter le site de Romain Fournier" title="Visiter le site de Romain Fournier">Romain Fournier</a></p>
        </div>

        

</footer>