---
import { Phone } from '@lucide/astro';

const { infos } = Astro.props;
---

<section class="hero">
        <img class="hero__img" src={infos.cover_image} alt="Restaurant - cuisine maison" width="800" height="500" loading="eager" />

        <div class="hero_overlay">

            <div class="hero__content">
                <h1 class="hero__title">{infos.title}</h1>
                <p class="hero__subtitle">{infos.subtitle}</p>
            </div>
            
            <div class="cta hero__cta">
                <a href="tel:0123456789" class="btn btn--primary"><Phone  size={24}/><span>Commander</span></a>
                <a href="#plats" class="btn btn--secondary">Voir le menu</a>
            </div>
        </div>
</section>
