---
import "../styles/sections/hero.css";
import { Phone } from '@lucide/astro';


const { infos } = Astro.props;
---

<section class="hero">
        <img class="hero__img" src={infos.cover_image} alt="Restaurant - cuisine maison" width="800" height="500" loading="eager" fetchpriority="high"/>

        <div class="hero_overlay">

            <div class="hero__content">
                <h1 class="hero__title">{infos.title}</h1>
                <p class="hero__subtitle">{infos.subtitle}</p>
            </div>
            
            <div class="cta hero__cta">
                <a href="tel:0228028829" class="btn btn--primary" title="Nous appeler" aria-label="Appeler la pizzetteria"><Phone size={24}/>
                    <span>Commander</span>
                </a>
                <a href="/menu" class="btn btn--secondary">
                    <span>Voir le menu</span>
                </a>
            </div>
        </div>
</section>
