<!-- 🔥 PLAT DU MOMENT -->
    <!-- {dishOfTheMoment && (
    <section class="highlight">
        <h2>🔥 Plat du moment</h2>

        <article class="highlight-card">
            <img src={dishOfTheMoment.image} alt={dishOfTheMoment.name} />

            <div class="content">
                <h3>{dishOfTheMoment.name}</h3>

                <p class="ingredient">
                    {dishOfTheMoment.ingredients?.join(", ")}
                </p>
                
                <div class="footer_content">
                    <p class="price">
                        {dishOfTheMoment.price.toFixed(2)}€
                    </p>
                    <a href="tel:0123456789" class="btn-cta primary"><Phone color="#fff" size={24}/><span></span></a>
                </div>
            </div>
        </article>
    </section> -->
    <!-- )} -->

<!-- <style>


.highlight {
	background: linear-gradient(135deg, #FFF7ED, #FFEDD5);
	padding: 2rem 1rem;
	text-align: center;
}

.highlight-card {
	max-width: 500px;  
	margin: auto;
	background: white;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.highlight-card img {
	max-width: 100%;
    max-height: 300px;
    display: block;
}

.highlight-card .content {
	padding: 1rem;
}

.highlight h2, .highlight h3 {
    margin-top: .5rem;
	font-size: 2rem;
	color: #1F2937;
}

.highlight .price {
	font-size: 1.8rem;
	margin-top: 0.5rem;
}

</style> -->