

<!-- NAV -->
<nav class="menu-nav">
    <a href="#pizzas" class="nav-link active">Pizzas</a> |
    <a href="#plateaux" class="nav-link">Plateaux</a> |
    <a href="#spécialités" class="nav-link">Spécialités</a> |
    <a href="#desserts" class="nav-link">Desserts</a> |
    <a href="#boissons" class="nav-link">Boissons</a>
</nav>
