

<!-- NAV -->
<nav class="menu-nav">
    <a href="#starter" class="nav-link active">Entrées</a> |
    <a href="#plats" class="nav-link">Plats</a> |
    <a href="#desserts" class="nav-link">Desserts</a> |
    <a href="#drinks" class="nav-link">Boissons</a>
</nav>
