---
const { reviews } = Astro.props;
---

<section class="reviews">
    <h2>Avis clients</h2>
  {reviews.map((review) => (
    <div class="review">
      <p class="content">"{review.content}"</p>
      
      <div class="meta">
        <span class="author">{review.author}</span>
        <span class="rating">
          {"⭐".repeat(review.rating)}
        </span>
      </div>
      <p>Avis posté sur {review.source}</p>
    </div>
  ))}
</section>
<a href="https://www.google.com/search?sa=X&sca_esv=b493f18cdd742725&sxsrf=ANbL-n5CNew5IJ-6CjJ5aASChqDalo10Bg:1777635022464&q=La+Pizzetteria+Avis&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxI0srQ0MDAzNzG1NDM3NzYwMd7AyPiKUdgnUSEgs6oqtaQktSgzUcGxLLN4ESs2UQAm6UVERAAAAA&rldimm=29900674596773043&tbm=lcl&hl=fr-FR&ved=2ahUKEwjGn7fA_peUAxVKVqQEHV5VMkMQ9fQKegQIVRAG&biw=1920&bih=911&dpr=1#lkt=LocalPoiReviews" target="_blank" rel="noopener">Voir tous les avis Google</a>